 <% layout("/layouts/boilerplate") %> 
    
  <link rel="stylesheet" href="/css/filter.css">
<div class="filters-main">
    <div id="filters">
        <div class="left_img_button" id="slideButton" style="display: none;">
            <i class="fa-solid fa-angle-left"></i>
        </div>
        <a href="/listings/">
            <div class="filter ALL ps-2 pe-2">
                <div><i class="fa-solid fa-house-chimney"></i><img src=""></div>
                <p style="text-decoration: none;">ALL</p>
            </div>
        </a>
        <a href="/listings/filter/Beachfront">
            <div class="filter Beachfront">
                <div><i class="fa-solid fa-umbrella-beach"></i><img src=""></div>
                <p>Beachfront</p>
            </div>
        </a>
        <a href="/listings/filter/Cabins">
            <div class="filter Cabins">
                <div><i class="fa-solid fa-house-signal"></i><img src=""></div>
                <p>&nbsp;Cabins&nbsp;</p>
            </div>
        </a>
        <a href="/listings/filter/Omg">
            <div class="filter OMG">
                <div><i class="fa-solid fa-circle"></i><img src=""></div>
                <p>&nbsp;OMG!&nbsp;</p>
            </div>
        </a>
        <a href="/listings/filter/Lake">
            <div class="filter Lake">
                <div><i class="fa-solid fa-water"></i><img src=""></div>
                <p>&nbsp;Lake&nbsp;</p>
            </div>
        </a>
        <a href="/listings/filter/Design">
            <div class="filter Design">
                <div><i class="fa-solid fa-heart"></i></i><img src=""></div>
                <p>&nbsp;Design&nbsp;</p>
            </div>
        </a>
        <a href="/listings/filter/Amazing Pools">
            <div class="filter Amazing-pools">
                <div><i class="fa-brands fa-slack"></i><img src=""></div>
                <p>Amazing pools</p>
            </div>
        </a>
        <a href="/listings/filter/Farms">
            <div class="filter Farms">
                <div><i class="fa-solid fa-wheat-awn"></i><img src=""></div>
                <p>&nbsp;Farms&nbsp;</p>
            </div>
        </a>
        <a href="/listings/filter/Amazing Views">
            <div class="filter Amazing-views">
                <div><i class="fa-solid fa-earth-americas"></i><img src=""></div>
                <p>Amazing views</p>
            </div>
        </a>
        <a href="/listings/filter/Rooms">
            <div class="filter Rooms">
                <div><i class="fa-solid fa-house-flag"></i><img src=""></div>
                <p>&nbsp;Rooms&nbsp;</p>
            </div>
        </a>
        <a href="/listings/filter/Lakefront">
            <div class="filter Lakefront">
                <div><i class="fa-brands fa-docker"></i><img src=""></div>
                <p>Lakefront</p>
            </div>
        </a>
        <a href="/listings/filter/Tiny Homes">
            <div class="filter Tiny-homes">
                <div><i class="fa-solid fa-house-chimney-window"></i><img src=""></div>
                <p>Tiny homes</p>
            </div>
        </a>
        <a href="/listings/filter/Countryside">
            <div class="filter Countryside">
                <div><i class="fa-solid fa-heart"></i><img src=""></div>
                <p>Countryside</p>
            </div>
        </a>
        <a href="/listings/filter/Treehouse">
            <div class="filter Treehouse">
                <div><i class="fa-solid fa-tree"></i><img src=""></div>
                <p>Treehouse</p>
            </div>
        </a>
        <a href="/listings/filter/Trending">
            <div class="filter Trending">
                <div><i class="fa-solid fa-bolt"></i><img src=""></div>
                <p>Trending</p>
            </div>
        </a>
        <a href="/listings/filter/Tropical">
            <div class="filter Tropical">
                <div><i class="fa-solid fa-stroopwafel"></i><img src=""></div>
                <p>Tropical</p>
            </div>
        </a>
        <a href="/listings/filter/National Parks">
            <div class="filter National-parks">
                <div><i class="fa-solid fa-building-wheat"></i><img src=""></div>
                <p>National parks</p>
            </div>
        </a>
        <a href="/listings/filter/Castles">
            <div class="filter Castles">
                <div><i class="fa-brands fa-fort-awesome-alt"></i><img src=""></div>
                <p>Castles</p>
            </div>
            </a>
        <a href="/listings/filter/Camping">
            <div class="filter Camping">
                <div><i class="fa-solid fa-mountain-city"></i><img src=""></div>
                <p>Camping</p>
            </div>
            </a>
        <a href="/listings/filter/Top Of The World">
            <div class="filter Top-of-the-world">
                <div><i class="fa-solid fa-earth-europe"></i><img src=""></div>
                <p>Top of the world</p>
            </div>
            </a>
        <a href="/listings/filter/Luxe">
            <div class="filter Luxe">
                <div><i class="fa-brands fa-bluesky"></i><img src=""></div>
                <p>&nbsp;Luxe&nbsp;</p>
            </div>
            </a>
        <a href="/listings/filter/Iconic Cities">
            <div class="filter Iconic-cities">
                <div><i class="fa-solid fa-city"></i><img src=""></div>
                <p>Iconic cities</p>
            </div>
            </a>
        <a href="/listings/filter/Earth Homes">
            <div class="filter Earth-homes">
                <div><i class="fa-solid fa-globe"></i><img src=""></div>
                <p>Earth homes</p>
            </div>
        </a>
        <div class="right_img_button" id="slideButton">
            <i class="fa-solid fa-angle-right"></i>
        </div>
    </div>
   
    <div class="tax-toggle tax-filter ">
        <div class="form-check form-switch form-check-reverse" >
            <input class="form-check-input tax-switch shadow-none" type="checkbox" role="switch" id="flexSwitchCheckDefault" style="cursor: pointer;">
            <label class="form-check-label changeAfter" for="flexSwitchCheckDefault" style="cursor: pointer; margin-top: 3px;">Display total before taxes</label>
        </div>
    </div>
</div>
<div class="tax-toggle tax-sticky">
    <div class="form-check form-switch form-check-reverse">
        <input class="form-check-input tax-switch tax-sticky-sticky shadow-none" type="checkbox" role="switch" id="flexSwitchCheckDefaultS" style="cursor: pointer;">
        <label class="form-check-label changeAfter" for="flexSwitchCheckDefaultS" style="cursor: pointer;">Display total before taxes</label>
    </div>
</div>

   <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
      <% for(let listing of allListings) { %>
         <a href="/listings/<%= listing._id %>" class="listing-link">

            <div class="card col listing-card">
               <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style=" height:20rem;">

               <div class="card-img-overlay"></div>

               <div class="card-body">
                  <p class="card-text">

                     <b>
                        <%= listing.title %>
                     </b><br>
                    
                        <%
                        let day =Math.floor(Math.random() * 4 + 2);
                        let no = Math.floor(Math.random() * 28 + 1);
                        let date = (new Date('2023-11-01')).getDate() + no;         //today ----
                        let dateA = (new Date('2023-11-01')).getDate() + no + day;    //today + day ----
                        let month = Date().split(" ")[1];
                         %>

                        <span style="display: block;"><span class="tax-info">&nbsp;<%= day %></span> &nbsp;<%= date %>-<%- dateA %> &nbsp;&nbsp;<%= month %></span>
                       <b> <span class="price-info"><span class=" fw-bold">&nbsp;&#8377;<%= listing.price.toLocaleString("en-IN") %> </span> / night</span></b>
                        <i class="tax-info tax-underline ms-1"><i class="rs-sign"><b> &#8377;</i><%= (listing.price*1.18).toLocaleString("en-In") %></b> &nbsp;total after taxes</i>
                  </p>
               </div>
            </div>
            <% } %>
   </div>
   </a>
   <script src="/js/filter.js"></script>
   <script src="/js/tax.js"></script> 


